div.homepage-content {
  display: flex;
}
section.homepage.articles {
  width: 70%;
}
section.homepage.topic-list {
  width: 25%;
}

div.topic-list {
  margin-top: 40px;
  text-align: center;
  border: 3px solid #5d0917;
  background-color: #C51431;
  border-radius: 5px;
  position: fixed;
  width: 300px;
}

div.topic-list a {
  color: black;
}

@media only screen and (max-width: 850px) {
  div.homepage-content {
    flex-direction: column-reverse;
  }

  section.homepage.topic-list {
    width: 100%;
  }
  div.topic-list {
    position: relative;
    margin: auto;
  }
  div.topic-list h2 {
    display: inline;
    margin-right: 10px;
    font-size: 10px;
  }
}
